include mixins.pug
doctype html
html(lang='ru')
  +dev_head('Gustavs главная')

  body.mCSB.index
    .wrapper
      .gl_overlay.glOverlay
      .base
        +header(true)

        .main_content
          .mission_section
            .section_inner.clearfix
              .mission_block
                h2.block_caption
                  span Миссия 
                  span._underline._yellow._big: span Gustavs

                p С помощью немецких технологий делать ремонт для Россиян качественно и быстро

                ul.mission_options
                  li
                    span.mission_icon
                      img(src='svg/mission_01.svg' width=36 height=36)
                    span Немецкое качество ремонта
                  li
                    span.mission_icon
                      img(src='svg/mission_02.svg' width=36 height=36)
                    span Профессиональные мастера
                  li
                    span.mission_icon
                      img(src='svg/mission_03.svg' width=36 height=36)
                    span Прозрачная смета и график работ

              .mission_hero
                .hero_img
                  img(src='i/GUSTAVS.jpg')

                  .hero_text
                    .hero_caption Дорогие друзья!
                    p Теперь высокие технологии недорогого и качественного ремонта доступны и для Вашей квартиры в Москве!

                    p.text_right
                      span.ff_med
                        span._underline._blue: span С уважением,
                        span  Густав Бауман,<br>ген. директор Gustavs

          .step_section
            .section_inner
              .section_caption
                span Закажите ремонт прямо 
                span._underline._yellow: span сейчас
              .step_block
                ul.step_list
                  - var koef = 1.3
                  li
                    .step_item
                      .step_index
                        img(src='svg/01.svg' width=Math.floor(koef * 39) height=Math.floor(koef * 60))
                      .step_way._way_1-2
                        img(src='i/way_1-2.png')
                        
                      p Выберите дату начала ремонта, определите перечень необходимых работ. Сервис автоматически рассчитает для Вас стоимость и сроки. 
                      
                      //-p Вы выберите 
                        span.ff_bold.c_blue дату начала ремонта и работу
                        |  которую необходимо выпол&shy;нить. Сервис рассчитает стоимость работ, материалов и сроки работ.

                  - var koef = 1
                  li
                    .step_item
                      .step_index
                        img(src='svg/02.svg' width=Math.floor(koef * 50) height=Math.floor(koef * 60))
                      .step_way._way_2-3
                        img(src='i/way_2-3.png')
                      p Ознакомьтесь со сметой и графиком выполнения ремонта. Внесите первый минимальный платеж.

                  - var koef = 1.3
                  li.cb
                    .step_item
                      .step_index
                        img(src='svg/04.svg' width=Math.floor(koef * 41) height=Math.floor(koef * 54))
                      .step_way._way_3-4
                        img(src='i/way_3-4.png')
                        
                      p Приемку работ Вы осуществляете в личном кабинете. Важно, что Вы вносите оплату только за выполненные работы!

                  - var koef = 1.3
                  li
                    .step_item
                      .step_index
                        img(src='svg/03.svg' width=Math.floor(koef * 46) height=Math.floor(koef * 51))

                      p В удобный для Вас день наша профессиональная бригада Gustavs приедет на объект со всеми необходимыми инструментами и материалами. Мы сразу приступим к ремонту.

                  - var koef = 1.3

                  li._wide
                    .step_item
                      .step_index
                        img(src='svg/05.svg' width=koef * 42 height=koef * 54)
                      .step_way._way_4-5
                        img(src='i/way_4-5.png')
                      .ff_bold.c_blue Ремонт успешно завершен!
                      p Поздравляем! Ремонт успешно завершен! На все произведенные работы действует гарантия. В качестве бонуса наши мастера сделают уборку и вывезут строительный мусор. Вам останется только наслаждаться качественно выполненной работой!

          #price_section.price_section.priceSection
            form.section_inner.validateMe.checkoutForm(action='#')
              .section_caption
                span Cтоимость вашего 
                span._underline._yellow: span ремонта

              .price_block
                .price_col.workSwitcher
                  .price_category
                    .price_col_caption
                      .fl
                        span Выбирайте работы которые необходимо выполнить

                    .price_col_box._price_stack.mCSB
                      .price_box_caption.collapseBtn._opened Стены
                      .expandBlock.price_box_expand(style='display:block;')
                        .price_row.addTaskRow
                          .fl
                            .task_name Поклейка обоев
                          .fr
                            +task_add('shpalery')

                        .price_row.addTaskRow
                          .fl
                            .task_name Покраска стен
                          .fr
                            +task_add('walls')

                        .price_row.addTaskRow
                          .fl
                            .task_name Укладка плитки
                          .fr
                            +task_add('tiles')

                      .price_box_caption.collapseBtn Потолок
                      .expandBlock.price_box_expand
                        .price_row.addTaskRow
                          .fl
                            .task_name Покраска потолка
                          .fr
                            +task_add('ceil_painting')

                        .price_row.addTaskRow
                          .fl
                            .task_name Монтаж реечного потолка
                          .fr
                            +task_add('rake_ceil_installing')

                        .price_row.addTaskRow
                          .fl
                            .task_name Монтаж натяжного потолка
                          .fr
                            +task_add('stretch_ceil_installing')

                      .price_box_caption.collapseBtn Пол
                      .expandBlock.price_box_expand
                        .price_row.addTaskRow
                          .fl
                            .task_name Настил линолеума
                          .fr
                            +task_add('linoleum_flooring')

                        .price_row.addTaskRow
                          .fl
                            .task_name Настил ламината
                          .fr
                            +task_add('laminate_flooring')

                        .price_row.addTaskRow
                          .fl
                            .task_name Настил паркета
                          .fr
                            +task_add('parquet_flooring')

                        .price_row.addTaskRow
                          .fl
                            .task_name Укладка плитки
                          .fr
                            +task_add('laying_tiles')

                        .price_row.addTaskRow
                          .fl
                            .task_name Монтаж теплого пола
                          .fr
                            +task_add('warm_floor')

                .price_col
                  ul#price_switcher.price_col_tabs
                    li: a.tab_link(href='#price_tab_1'): span смета работ
                    li: a.tab_link(href='#price_tab_2'): span смета материалов

                  .tab_panels.tabBlock(data-tab-context='#price_switcher')
                    #price_tab_1.tab_panel.show_example
                      .tab_content
                        .tab_content_overview.contentOverview
                          .gl_table
                            .gl_table_cell
                              p Выберите работы <br>из 
                                span.c_blue левого списка 
                                | <br> чтобы увидеть смету
                        .price_col_box.mCSB
                          #estimations
                          #estimations_example.estimations_example
                            .task_estimation
                              .price_row
                                .fl
                                  .task_name Поклейка обоев
                                .fr
                                  +task_rm()

                              .task_estimate_block
                                .task_estimate_date
                                  span.task_step 1 этап ремонта
                                  span.task_period 22.06.2017 - 25.06.2017

                                dl.task_estimate_list
                                  dt Демонтаж старых обоев
                                  dd 2 500 руб

                                  dt Грунтовка обоев
                                  dd 2 500 руб

                                  dt Демонтаж старых обоев
                                  dd 2 500 руб

                                  dt.estimate_total Сумма
                                  dd.estimate_total 7 500 руб

                            .task_estimation
                              .price_row
                                .fl
                                  .task_name Покраска стен
                                .fr
                                  +task_rm()

                              .task_estimate_block
                                .task_estimate_date
                                  span.task_step 1 этап ремонта
                                  span.task_period 22.06.2017 - 25.06.2017

                                dl.task_estimate_list
                                  dt Демонтаж старых обоев
                                  dd 2 500 руб

                                  dt Грунтовка обоев
                                  dd 2 500 руб

                                  dt Демонтаж старых обоев
                                  dd 2 500 руб

                                  dt.estimate_total Сумма
                                  dd.estimate_total 7 500 руб

                            .task_estimation
                              .price_row
                                .fl
                                  .task_name Укладка плитки
                                .fr
                                  +task_rm()

                              .task_estimate_block
                                .task_estimate_date
                                  span.task_step 1 этап ремонта
                                  span.task_period 22.06.2017 - 25.06.2017

                                dl.task_estimate_list
                                  dt Демонтаж старых обоев
                                  dd 2 500 руб

                                  dt Грунтовка обоев
                                  dd 2 500 руб

                                  dt Демонтаж старых обоев
                                  dd 2 500 руб

                                  dt.estimate_total Сумма
                                  dd.estimate_total 7 500 руб

                    #price_tab_2.tab_panel
                      .tab_content
                        .price_col_box.mCSB
                          #materials
                            //-.material_block
                              .material_img

                              .material_name Раковина Белла может быть в 2 строки. 

                              .material_store
                                a.material_link(href='#') Магазин Петрович

                              dl.material_params
                                dt Цена -
                                dd
                                  span._old.fw_b 31 590 Р

                                dt Цена со скидкой -
                                dd
                                  span.c_blue.fw_b 31 590 Р

                            //-.material_block
                              .material_img

                              .material_name Раковина Белла может быть в 2 строки. 

                              .material_store
                                a.material_link(href='#') Магазин Петрович

                              dl.material_params
                                dt Цена -
                                dd
                                  span._old.fw_b 31 590 Р

                                dt Цена со скидкой -
                                dd
                                  span.c_blue.fw_b 31 590 Р

                            //-.material_block
                              .material_img

                              .material_name Раковина Белла может быть в 2 строки. 

                              .material_store
                                a.material_link(href='#') Магазин Петрович

                              dl.material_params
                                dt Цена -
                                dd
                                  span._old.fw_b 31 590 Р

                                dt Цена со скидкой -
                                dd
                                  span.c_blue.fw_b 31 590 Р

                            //-.material_block
                              .material_img

                              .material_name Раковина Белла может быть в 2 строки.  Раковина Белла может быть в 2 строки. 

                              .material_store
                                a.material_link(href='#') Магазин Петрович

                              dl.material_params
                                dt Цена -
                                dd
                                  span._old.fw_b 31 590 Р

                                dt Цена со скидкой -
                                dd
                                  span.c_blue.fw_b 31 590 Р

                            //-.material_block
                              .material_img

                              .material_name Раковина Белла может быть в 2 строки. Раковина Белла может быть в 2 строки. Раковина Белла может быть в 2 строки. 

                              .material_store
                                a.material_link(href='#') Магазин Петрович

                              dl.material_params
                                dt Цена -
                                dd
                                  span._old.fw_b 31 590 Р

                                dt Цена со скидкой -
                                dd
                                  span.c_blue.fw_b 31 590 Р

              .total_price_block
                .total_price_content
                  .total_price_col
                    ul.total_price_list
                      li
                        span Цена работ -
                        span.ff_med.c_blue.workPrice 31 590 Р
                      li.materialsSelf
                        span Цена материалов -
                        span.ff_med.c_blue.materialsPrice 12 390 Р
                      li.materialsSelf
                        span Скидка материалов -
                        span.ff_med.c_blue.materialsShare 5 600 Р

                      li._total
                        span Дата начала работ -
                        span.dapeticker_w
                          .input_w
                            input#date_inline.datePicker.f_input_v2.f_input(value='' data-correspond='#date_header')
                            span.dropdown_arrow
                            
                      li
                        span Дата завершения работ -
                        span.ff_med.c_blue.dateFinish 01.06.2018

                    .total_price_box
                      .total_price_val.totalPrice 42 590 Р

                      .total_price_materials
                        label.check_box.check_box_v1
                          input.materialsCheck(data-price=0 type='checkbox')
                          span.check_text
                            span Я закупаю материалы<br>сам (- 
                            span.materialsPrice 12 390 Р
                            span )

                  .total_price_col
                    .total_price_contact.formCell
                      .input_w.errorShaker
                        input.f_input.f_input_v3(value='' data-inputmask="'mask': '+7 (999) 999-99-99', 'clearIncomplete': 'true'" class='validate[required,funcCall[checkClassFunc]]' placeholder='+7 (___) ___-__-__')
                        span.i-mobile.contact_icon

                      .total_price_error
                        span._exclamation ! &nbsp;
                        span  Введите корректный номер телефона

                    .total_price_send
                      button.btn_v4.btn_blue_2.send_btn.sendBtn Заказать ремонт
                      
                    .total_price_cite
                      p Большинство клиентов заказавших ремонт рекомендуют Gustavs своим друзьям.  Закажите ремонт и убедитесь сами.
                      
                      .text_right С уважением, Густав Бауман,  ген. директор

          .why_section
            .section_inner
              .section_caption
                span Почему 
                span._underline._yellow: span выбирают
                span  нас?

              ul.why_list
                li
                  .why_box
                    .why_img
                      img(src='svg/why_01.svg' width=75 height=75)
                    .why_caption Фиксированная смета
                    p После расчета финальной сметы вы можете быть уверены, что цена не вырастет. Мы ответственно подходим к каждому заказу и бережно относимся к каждому клиенту.

                li
                  .why_box
                    .why_img
                      img(src='svg/why_03.svg' width=75 height=75)

                    .why_caption Ремонт без переплаты
                    p Ремонт в вашей квартире начинается сразу после подписания договора и внесения предоплаты. Следующий платеж — только после завершения первого этапа ремонта.

                li
                  .why_box
                    .why_img
                      img(src='svg/why_02.svg' width=75 height=75)

                    .why_caption Честные цены
                    p Мы сотрудничаем с крупными торговыми сетями и ведущими производителями строительных материалов, мебели и сантехники. Они предоставляют нам скидки, которые мы с удовольствием передаем Вам.<br>Вы можете сэкономить до 50%!
                li
                  .why_box
                    .why_img
                      img(src='svg/why_04.svg' width=75 height=75)

                    .why_caption Каждый этап ремонта имеет свой регламент
                    p Даже такая простая на первый взгляд операция, как укладка плитки, включает пять технологических этапов. Все наши сотрудники прошли специальное обучение. Безукоризненное соблюдение технологии гарантирует немецкое качество на каждом этапе любого вида ремонтных работ.

              .section_caption
                span Выполненные  
                span._underline._yellow: span проекты

              ul.project_list
                +loop_while(1)
                  li
                    .project_item
                      .project_img
                        img(src='i/zastavskaya.png')
                      .project_info
                        div Ванная 
                          span.ff_bold 5 м
                            sup 2
                        p ул Заставская
                      .project_date 2 сентября 2017
                        
                  li
                    .project_item
                      .project_img
                        img(src='i/schepkina.png')
                      .project_info
                        div Гостинная 
                          span.ff_bold 22 м
                            sup 2
                        p ул Щепкина
                      .project_date 18 июня 2017
                        
                  li
                    .project_item
                      .project_img
                        img(src='i/marina_roscha.png')
                      .project_info
                        div Комната 
                          span.ff_bold 22 м
                            sup 2
                        p ул Марьиной Рощи 2-я
                      .project_date 5 сентября 2017
                        
                  li
                    .project_item
                      .project_img
                        img(src='i/krasnoprudnaya.png')
                      .project_info
                        div Кухня 
                          span.ff_bold 8 м
                            sup 2
                        p Краснопрудная ул
                      .project_date 11 ноября 2017
                        
              .section_caption.clearfix
                .fl
                  span._underline._yellow: span Ответы 
                  span на вопросы

                .fr
                  a.btn_v1.btn_light_blue.login_btn(href='#') + Задать вопрос

              .question_block
                .question.collapseBtn Что, если вы по каким-то причинам задержите сдачу?

                .expandBlock(style='display:none')
                  .answer
                    p Согласно условиям договора если в случае каких либо обстоятельств сроки ремонта будут задержаны. Наша компания выплачивает компенсацию за каждый день задержки.

              .question_block
                .question.collapseBtn Сколько времени занимает ремонт?

                .expandBlock(style='display:none')
                  .answer
                    p Сроки ремонта уточняются после осмотра объекта бригадиром. Как правило ремонт небольшой комнаты или санузла занимает менее 2х недель

          .review_section
            .section_inner
              .section_caption
                span Отзывы  
                span._underline._yellow: span о компании

            .review_slider_w.sliderHolder: .Reviews
              //-.review_list.reviewSlider
                +loop_while(10)
                  .review_slide
                    .review_item
                      .review_author_name Александр 
                      .review_author_date 21 сентября
                        
                      p Заказывал поклейку обоев в комнате. Приехала бригада, все сделала за 2 дня, остался доволен!
  
                      //-.review_author
                        .review_author_img._author_tr
                          img(src='i/1.png')
                        .review_author_name Федор Розанов
                        .review_author_post Менеджер
  
                  .review_slide
                    .review_item
                      .review_author_name Александр 
                      .review_author_date 21 сентября
                          
                      p Было необходимо положить плитку в ванной комнате что и было сделано мастерами. Претензий к работе нет.
  
                      //-.review_author
                        .review_author_img._author_br
                          img(src='i/2.png')
                        .review_author_name Дмитрий Филатов
                        .review_author_post Продавец
  
                  .review_slide
                    .review_item
                      .review_author_name Александр 
                      .review_author_date 21 сентября
                        
                      p Мне уже делала ремонт другая компания но остались недоделки и выбрала Gustavs. Осталась довольна.
  
                      //-.review_author
                        .review_author_img._author_tl
                          img(src='i/3.png')
                        .review_author_name Елена Масленикова
                        .review_author_post Менеджер по продажам
                        
              .review_list.reviewSlider
                +loop_while(1)
                  .review_slide
                    .review_item
                      .review_author_name Александр
                      .review_author_date 17 июля
                        
                      p Я вообще не рукастый, я больше умом работаю. Тут жена пристала - переклеить обои в зале надо. В общем, позвонил, заказал в конторе поклеить обои. Приехали ребята, все в спецодежде, аккуратные такие, вежливые. Все четко у них, быстро поклеили. Вся работа заняла 2!!! дня. У нас своими руками это на неделю бы растянулось. А тут шустро так. Работой их доволен.
                        
                  .review_slide
                    .review_item
                      .review_author_name Мария
                      .review_author_date 3 июня
                        
                      p У меня с ванной беда прям была. Всю плитку плесень поела. Чем не мыла – все без толку. Короче, решила я ее поменять, старая она уже была. Вызвала мастеров, все сделали качественно. И цвет мой любимый, нежно зеленый.
                      
                  .review_slide
                    .review_item
                      .review_author_name Иван
                      .review_author_date 18 августа
                        
                      p В квартире делали капитальный ремонт. Заказали здесь установку унитаза, укладку кафеля и установку дверей межкомнатных. Сделали все норм, работой доволен.
                      
                  .review_slide
                    .review_item
                      .review_author_name Егор
                      .review_author_date 18 сентября
                        
                      p У меня дочь в шкаф над унитазом полезла, короче разбила унитаз. Ну, без унитаза никуда. Вызвал мастера, приехал быстро и за 3 часа мне унитаз поменял.
                      
                  .review_slide
                    .review_item
                      .review_author_name Кирилл
                      .review_author_date 17 мая
                        
                      p Я обои и сам умею клеить, но нет времени. Позвонил, вызвал мастера. Парень приехал оперативно, поклеил мне всю комнату, швов не видно, аккуратно, все заняло полтора дня.
                      
                  .review_slide
                    .review_item
                      .review_author_name Ирина
                      .review_author_date 12 сентября
                        
                      p Хотела положить на кухню фартук из плитки. Соседи заказывали в Gustavs, позвонила, заказала мастеров. Приехали в выходной, все мне выложили. Мне надо было красиво сделать. Они молодцы. Я довольна. 
                      
                  .review_slide
                    .review_item
                      .review_author_name Илья
                      .review_author_date 3 июня
                        
                      p Нам кухню ставили в июне. Установили быстро, только вот с плиткой они не работают. Заказал укладку в Gustavs. Справились за 1,5 дня. Работали на профессиональном инструменте, что редко увидишь
                      
                  .review_slide
                    .review_item
                      .review_author_name Михаил
                      .review_author_date 14 октября
                        
                      p Ремонт делаю в квартире, обои клею сам, это я умею. Здесь заказал шпатлевание, у меня инструмента нет и возиться некогда. Приехали вовремя, сделали быстро.
                      
                  .review_slide
                    .review_item
                      .review_author_name Сергей
                      .review_author_date 12 апреля
                        
                      p Заказал укладку ламината. Материал противный, надо в этом разбираться. Заказал здесь укладку. Сделали хорошо. Советую, можно доверить свой дом.
                      
                  .review_slide
                    .review_item
                      .review_author_name Артур
                      .review_author_date 5 мая
                        
                      p В ванной затеяли ремонт полностью. Все делали ребята из Gustavs. Все сделали качественно и в срок. Шпатлевка, кафель положили, швы хорошо сделали, потолок покрасили. Дверной звонок поставили. По ценам вышло дешевле, чем планировал.
                      
          
              .review_list.reviewSlider2.review_list_v2
                +loop_while(1)
                  .review_slide
                    .review_item
                      .review_author_name Руфина 
                      .review_author_date 10 мая
                        
                      p Заказала укладку ламината в зал и коридор. Положили хорошо.
                      
                  .review_slide
                    .review_item
                      .review_author_name Костя
                      .review_author_date 12 июня
                        
                      p Надо было менять счетчики в квартире, и горе - умельцы из ТСЖ как всегда все сделали не как надо – швы заделали негерметично. Руки у них не оттуда! Прям сил никаких нет. Но исправлять их работу надо было, позвонил и заказал мастеров из Gustavs, они пришли на следующий день, все заделали. Молодцы.
                      
                  .review_slide
                    .review_item
                      .review_author_name Саша
                      .review_author_date 10 мая

                      p Мне положили ламинат в зал, сделали меньше чем за день. Советую.
                      
                  .review_slide
                    .review_item
                      .review_author_name Оксана
                      .review_author_date 2 октября

                      p Сдаем квартиру, делали там ремонт. Надо чтобы было дешево и качественно. Заказали здесь укладку плитки в ванную. Мастера сделали все быстро, не верится даже. Скоро двери межкомнатные придут, тоже здесь установку закажу.
                      
                  .review_slide
                    .review_item
                      .review_author_name Маша
                      .review_author_date 2 марта

                      p Заказала установку двери межкомнатной сыну в комнату. Мастер все установил отлично и быстро. Довольна работой.
                      
                  .review_slide
                    .review_item
                      .review_author_name Таня
                      .review_author_date 10 октября

                      p Заказала здесь поклейку и шпатлевание стен. Цена небольшая за услуги, довольна. Еще и мастерам заказала плинтуса сделать, чтобы уж все готово было.
                      
                  .review_slide
                    .review_item
                      .review_author_name Ирина
                      .review_author_date 3 марта

                      p Заказала в Gustavs установку дверей межкомнатных. Двери дорогие, поэтому боялась за установку. Но ничего, поставили как надо. Теперь радуюсь. И мастер еще мусор забрал после работы, вот точно редкость.
                      
                  .review_slide
                    .review_item
                      .review_author_name Александр
                      .review_author_date 19 января

                      p У нас от старых жильцов осталась плитка. Купили новую, заказала в Gustavs укладку. Заказ приняли, мастер приехал, уложил мне плитку, швы ровные, ничего не отлетает. Аккуратно. По ценам приемлемо, да и быстро сделали. 
                      
                  .review_slide
                    .review_item
                      .review_author_name Санек
                      .review_author_date 20 июня

                      p Я плитку класть не умею, позвонил в Gustavs, мастера все сделали. По срокам норм, советую. По ценам не гнут.
                      
                  .review_slide
                    .review_item
                      .review_author_name Зоя
                      .review_author_date 12 января

                      p Обои переклеить решила в зале. Позвонила, ребята приехали и поклеили. Цены хорошие, даже сэкономить получилось. Буду дальше ремонт делать, тоже сюда обращусь.
                      
                      
      +footer()

      +popups()

    +scripts()
